* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.menu {
    background: url(/img/menubook.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: lightgreen;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    border: 5px solid red;
}

.mid {
    background: rgba(132, 216, 106, 0.5);
}